<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  Checkthesebeats.com
  Posts
  Playlists
  Meet the writers
  
  Facebook link
  Twitter Link
  Soundcloud
  Spotify
  

<%= yield %>

Song Submission

Contant Us

</body>
</html>
